<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>TodoApp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{assets/datatable/datatables.css}"/>
</head>
<body>
<div class="container">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">TodoApp</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/todo/list">Todos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/users/list">Users <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <br>

    <h1 th:if="${action.equals('create')}">CREATE NEW:</h1>
    <h1 th:if="${action.equals('edit')}">UPDATE USER:</h1>

    <br/>

    <a class="btn btn-link" style="display: inline-block"  href="/users/list">back</a>
    <br/><br/>

    <form action="#" th:action="${action.equals('create') ? '/users/add-user' : '/users/edit-user'}" th:object="${user}" method="post">
        <input type="hidden" th:field="*{id}" />
        <label th:for="username">Username: </label>
        <input class="form-control" type="text" th:field="*{username}" required />
        <br/>
        <label th:for="password">Password: </label>
        <input class="form-control" type="password" th:field="*{password}" required/>
        <br/>
        <label th:for="active">Active: </label>
        <input class="form-control" style="width: auto" type="checkbox" th:field="*{active}" />
        <br/>
        <input class="btn btn-secondary" type="submit" value="Submit" />
    </form>
</div>

</body>
</html>