<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>TodoApp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css} "/>
    <link rel="stylesheet" th:href="@{/webjars/datatables/1.10.23/css/jquery.dataTables.min.css} "/>
    <script type="text/javascript"  th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script type="text/javascript"  th:src="@{/webjars/datatables/1.10.23/js/jquery.dataTables.min.js}"></script>

</head>
<body>






<div class="container">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">TodoApp</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/todo/list">Todos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/users/list">Users <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <br/>
    <h1>Users:</h1>
    <br/>

    <a class="btn btn-link" style="display: inline-block" href="/users/create">Create new</a>
    <br/><br/>

    <table id="tblUsers" class="table table-bordered">
        <thead  class="table-dark">
        </thead>
    </table>
</div>


<script th:inline="javascript">

    var tblUsers;
    var tblUsersColumns = [
        {
            title: "ID",
            data: "id"
        },
        {
            title: "Username",
            data: "username"
        },
        {
            title: "IsActive",
            data: "active"
        },
        {
            mRender : function(data, type, row) {
                var btnActions = "";
                btnActions = btnActions + "<a class=\"btn btn-link\" href=\"/users/edit?id=" + row.id + "\">Edit</a> |";
                btnActions = btnActions + "<button class=\"btn btn-link\" onclick=\"deleteUser(" + row.id + ")\">Delete</button>";
                return btnActions;
            }
        }
    ];

    $(document).ready(function() {
        tblUsers = $('#tblUsers').dataTable({
            serverSide: false,
            ajax: {
                url: "/api/users/list",
                method: "get",
                dataSrc: function(response) {
                    return response;
                }
            },
            columns:tblUsersColumns
        });
    });

    function deleteUser(id) {
        $.ajax({
            url: "/api/users/delete/" + id,
            type: "DELETE",
            success: function(result) {
                tblUsers.api().ajax.reload();
            }
        });
    }
</script>
</body>
</html>


